<table ngl-datatable [data]="data" trackByKey="id" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
       (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
    <ngl-datatable-column heading="Id" key="id" sortable></ngl-datatable-column>
    <ngl-datatable-column heading="Username" key="username" cellClass="slds-truncate" sortable></ngl-datatable-column>
    <ngl-datatable-column heading="Email" key="email" cellClass="slds-truncate" sortable>
        <template nglDatatableCell let-row="row"><b>{{row.email}}</b></template>
    </ngl-datatable-column>
    <!-- Loading overlay -->
    <template nglLoadingOverlay>
        <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
    </template>

    <!-- No rows overlay -->
    <template nglNoRowsOverlay>No data available in table!</template>
</table>