<div>
	<div>
		<ngl-form-checkbox>
			<input nglFormControl type="checkbox" [(ngModel)]="allSelected" (click)="onSelectAll($event)">
		</ngl-form-checkbox>
	</div>
</div>

<div *ngFor="let item of items; trackBy: trackBySelectionAttribute">
	<div>
		<ngl-form-checkbox>
			<input nglFormControl type="checkbox"
			       [checked]="isSelected(item[selectionAttribute])"
			       (click)="onItemClick($event, item[selectionAttribute])"/>
		</ngl-form-checkbox>
	</div>
</div>
