<article class="slds-card">
    <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
                <h2>
                    <span class="slds-text-heading_small" *ngIf="title">{{title}}</span>
                </h2>
            </div>
        </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
        <ng-content></ng-content>
    </div>
    <footer class="slds-card__footer" *ngIf="footer">{{footer}}</footer>
</article>