<div>
	<div>
		<div class="slds-dropdown-trigger slds-dropdown-trigger--click">

			<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true">
				<svg class="slds-button__icon" aria-hidden="true">
					<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
				</svg>
			</button>

			<div class="slds-dropdown slds-dropdown--right slds-dropdown--actions">
				<ul class="slds-dropdown__list" role="menu">
					<ng-content></ng-content>
				</ul>
			</div>

		</div>
	</div>
</div>
