@import "../../theme/default";

:host {
  display: flex;
  background-color: white;
  box-sizing: content-box;
  height: $table-row-height;
  border-bottom: 1px solid #d8dde6;
  button {
    margin-left: .5rem;
  }

  svg {
    pointer-events: none;
  }
  button:focus {
    + .slds-dropdown {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
  .slds-dropdown:hover {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  button {
    width: 1rem;
    height: 1rem;
  }

}

:host /deep/ {

}
