<div class="demo-only" style="height:6rem;">
    <div role="status" class="slds-spinner slds-spinner_brand slds-spinner_large">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
</div>