@import "../../theme/default";

:host {
  position: relative;
  display: inline-block;
  &.selection {
    > div {
      padding: 0 0 0 .7rem;
    }
  }
  > div {
    display: block;
    padding: 0 1rem 0 .5rem;
    height: $table-row-height;
    line-height: $table-row-height;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    color: #54698d;
    font-size: 12px;

    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;

    &.sortable {
      &:hover {
        cursor: pointer;
      }
    }

    &.sorted {
      svg {
        display: inline-block;
        fill: #54698d;
        pointer-events: none;
      }
    }

    &:hover {
      background-color: #f4f6f9;
      color: #0070d2;

      svg {
        display: inline-block;
        fill: #0070d2;
        pointer-events: none;
      }
    }
  }

  &:hover {
    ui-table-header-separator {
      background-color: #cecece;
    }

  }
}
