<div [style.width.px]="width"
     [ngClass]="{'sortable': sortable, 'sorted': isSorted}"
     (click)="onSort()">

	<template [ngIf]="label">
		{{label || '-'}}
	</template>

	<!--SORTING SYMBOL-->
	<svg *ngIf="sortable" class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon"
	     aria-hidden="true">
		<use *ngIf="descending" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
		<use *ngIf="!descending" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowup"></use>
	</svg>

</div>

<!--SEPARATOR TO RESIZE HEADER-->
<ui-table-header-separator
		*ngIf="resizable"
		[(width)]="width" (widthChange)="onWidthChange($event)"
></ui-table-header-separator>


