<span nglDropdown [(open)]="open">
  <button class="slds-button slds-button--neutral" nglDropdownTrigger>
    <span class="slds-truncate">{{selected}}</span>
  </button>
  <div class="slds-dropdown slds-dropdown--left">
    <ul class="dropdown__list" role="menu">
      <li class="slds-dropdown__item" *ngFor="let item of items;">
        <a role="menuitem" nglDropdownItem (click)="selected = item; open = false; onClick();">
          <p class="slds-truncate">{{item}}</p>
        </a>
      </li>
    </ul>
  </div>
</span>
