@import "../../theme/default";

:host {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 2rem;
  padding: 0 0 0 3px;
  overflow-x: hidden;
  z-index: 10000;
  background-color: transparent;
  background-clip: content-box;
  box-sizing: content-box;
  &:hover {
    background-color: #1976D2 !important;
    cursor: col-resize !important;
  }
  &.dragging {
    background-color: #1976D2 !important;
    cursor: col-resize !important;
  }
}

:host /deep/ {

}