@import "../../theme/default";

:host {
  display: table;
  width: 100%;
  font-size: 0;
  white-space: nowrap;
  border-top: 1px solid #d8dde6;
  border-bottom: 1px solid #d8dde6;
  background: white;
}