@import "../../theme/default";

:host {
  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
  height: $table-row-height;
  line-height:  $table-row-height;
  box-sizing: border-box;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #16325c;
  overflow: hidden;

  &.selection {
    padding: 0 0 0 .7rem;
  }

  &.no-records-found {
    width: 100%;
    text-align: center;
  }

  input {
    background-color: #abe0ff;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
    padding: 0 .5rem;
    border: none;
    height: 100%;
    &::selection {
      background-color: darken(#abe0ff, 20);
    }
  }

}
