<!--PAGINATION INFO-->
<div class="slds-text-title--caps-normal slds-m-bottom--x-small">
	<template [ngIf]="totalElements">
		{{pagination.start}} - {{pagination.end}} / {{totalElements}}
	</template>
	<template [ngIf]="!totalElements">
		0 - 0 / 0
	</template>
</div>

<!--PAGE SIZE AND PAGE NUMBER CHOOSER-->
<div class="pager">
	{{pageSizeLabel}}
	<!--DROP DOWN FOR PAGE SIZE-->
	<ngl-picklist
			[data]="pageSizeOptions" [(nglPick)]="pageSize"
			[(open)]="open" [nglPickMultiple]="false" [fluid]="true"
			[disabled]="totalElements < 1"
			(openChange)="onPageSizeChange($event)">

		<span class="slds-truncate">{{ lastPageSize }}</span>
		<template nglPicklistItem let-pageSizeOption>{{pageSizeOption}}</template>

	</ngl-picklist>

	<!--BUTTON GROUP FOR PAGE NUMBER SELECTION-->
	<ngl-pagination
			#pagination

			[(page)]="lastPageNumber" [total]="totalElements" limit="5" boundaryNumbers="1"
			(pageChange)="onPageNumberChange($event)"
			[(perPage)]="pageSize"
			[nextText]="nextPageText"
			[previousText]="previousPageText"
	></ngl-pagination>

</div>