@import "../../theme/default";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .pager {
    display: flex;
    align-items: center;

    ngl-picklist, ngl-pagination {
      margin-left: .5rem;
    }
  }

  .slds-m-bottom--x-small {
    margin-bottom: 0;
  }
}

:host /deep/ {
  .slds-dropdown {
    top: auto;
    bottom: 100%;
    box-shadow: none;
  }

  .pager {
    .slds-button {
      line-height: 25px;
    }

    .slds-dropdown__item > a {
      padding: 3px 12px
    }
  }
}
