@import "../../theme/default";

:host {
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid #d8dde6;
  font-size: 0.9rem;

  > div {
    border-bottom: 1px solid #d8dde6;
    min-height: $table-row-height;
    background: white;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 40px;
      height: $table-row-height;
      line-height: $table-row-height;
      ui-table-row-context-menu {
        margin-left: .5rem;
      }

    }
  }

}

