<div class="slds-card__header slds-grid">
	<header class="slds-media slds-media--center slds-has-flexi-truncate">
		<h2>
			<span class="slds-text-heading--small">{{title}}</span>
		</h2>
	</header>

	<!--COLUMN PICKER-->
	<div class="slds-no-flex" *ngIf="optionalColumnSwitch">
		<ngl-picklist [data]="nonDefaultColumns" [(nglPick)]="selectedColumns" [(open)]="open" (openChange)="onSelectedColumnsChange($event)" [nglPickMultiple]="true" filter="value" fluid="true" >
			<span class="slds-truncate">{{ paginationInfo }}</span>
			<template nglPicklistItem let-item>{{item.label}}</template>
		</ngl-picklist>
	</div>

</div>