<article class="slds-card"
         [ngClass]="{
	         'hide-header': hideHeader,
	         'hide-footer': hideFooter,
	         'loading': loading,
	         'multi-selectable': multiSelectable,
	         'has-row-action': hasRowAction
         }">

	<!--DECORATOR-->
	<ng-content select="[table-decorator]"></ng-content>

	<div class="body">

		<!--SELECTION COLUMN-->
		<ng-content select="[table-row-selection]" *ngIf="multiSelectable"></ng-content>


		<!--DATA PART OF THE TABLE THAT CAN VERTICALLY OVERFLOW-->
		<ui-table-overflow>

			<ng-content select="[table-header-group]"></ng-content>

			<ng-content select="[table-body]"></ng-content>

		</ui-table-overflow>

		<!--ROW ACTION COLUMN-->
		<ng-content select="[table-row-action]"></ng-content>

	</div>

	<!--FOOTER THAT CONTAINS PAGINATION FUNCTION-->
	<ng-content select="[table-footer]"></ng-content>

</article>

<!--LOADING SCREEN-->
<div class="ngl-datatable-loading slds-grid slds-grid--vertical-align-center slds-grid--align-center" *ngIf="loading">
	<div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
</div>






