@import "../../theme/default";

:host {
  display: block;
  position: relative;

  article {
    &.loading {
      pointer-events: none;
      opacity: .5;
    }

    &.hide-header /deep/ {
      border-radius: 0 0 .25rem .25rem;
      border-top: none;
      .slds-card__header {
        display: none;
      }
    }

    &.hide-footer /deep/ {
      border-radius: .25rem .25rem 0 0;
      border-bottom: none;
      ui-table-footer {
        display: none;
      }
    }

    &.multi-selectable {
      ui-table-overflow {
        width: calc(100% - 40px);
      }
      &.has-row-action {
        ui-table-overflow {
          width: calc(100% - 80px);
        }
      }
    }

    &.has-row-action {
      ui-table-overflow {
        width: calc(100% - 40px);
      }
    }
  }

  .ngl-datatable-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .body {
    display: block;
    font-size: 0;
  }
}