@import "../../theme/default";

:host {
  display: table;
  width: auto;
  min-width: 100%;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  background: white;
  border-bottom: 1px solid #d8dde6;
  &:hover {
    background: #f4f6f9;
  }
}
