$font-label:    Helvetica, sans-serif;
$font-content:    Helvetica, sans-serif;
$basic-alignment:   left;
$basic-color: #000000;
/deep/ .home-component-card {
  .ui-form-label {
    text-align: $basic-alignment;
    padding: 15px 0px 15px 35px;
    font: 20px $font-label;
    color: $basic-color;
  }

  .ui-form-content {
    text-align: $basic-alignment;
    color: $basic-color;
    font: 15px $font-content;
    padding: 15px 35px 15px 0px;
  }
}
  .ui-form-row {

  }

.error{
  color: red;
  position: fixed;
}