<div class="slds-form-element slds-grid slds-wrap slds-grid--pull-padded ui-form-row">
    <label class="ui-form-label slds-col--padded slds-size--1-of-2" *ngIf="label">{{label}}</label>
    <div class="slds-form-element__control ui-form-content slds-size--1-of-2">
        <ng-content></ng-content>
    </div>
    <div *ngIf="error" class="error">{{error}}</div>
</div>