<div class="slds-align_absolute-center">
    <img src="/img/mms-logo.png" class="slds-m-bottom--large">
    <ui-form [label]="">
        <input type="text" class="slds-input login-input" placeholder="Username" [(ngModel)]="auth.username">
    </ui-form>
    <ui-form class="slds-m-top--small" [error]="errorMessage">
        <input type="password" class="slds-input login-input" placeholder="Password" [(ngModel)]="auth.password">
    </ui-form>
    <button class="slds-button slds-m-top--medium" (click)="login()">Login</button>
</div>